html, body {
    height: 100%;
    background-color: #b0d0df !important;
}
.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: #c7d7df !important;
    border-radius: 10px !important;
}
input[type="text"],
input[type="password"]{
    background:#9ba8af  ;
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 25px;
}
.card-title{
    font-weight: 500;
    color: rgb(29, 83, 230);
    padding-top: 20px;
}
.btn{
    border-radius:10px !important;
    font-size: 15px;
}